* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* mainでwidthと中央寄せ、marginを設定する */
main {
  width: 960px;
  margin: 50px auto;
}

.list-ul {
  /*width: 960px;*/
  /*margin: 50px auto;*/
  margin-bottom: 50px;  /* bottomにmarginを設定 */
}
.list {
  padding: 20px;
  list-style: none; /* まず共通のレイアウトを作る */
}
.list:nth-child(odd)  {
  background-color: #ccc; 
}
/* Q.背景色はもともと#fffなので設定しなくてOK ということ？
.list:nth-child(even) {
  background-color: #fff;
}
*/

/* ここからbox */
/* 親要素は必要なし boxの基本形（box）で同じ形が作れる
.boxback {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 50px;
  font-size: 0;
}
*/
.box {
  background-color: #ffd700;
  width: 30%;
  height: 200px;
  /*margin: 0 5% 40px 0; 別々に設定する*/
  margin-right: 5%;
  margin-bottom: 40px;
  /*display: inline-block; floatを使う*/
  float: left;
}
/* まとめて書くとき、縦に書くと見易い　＆　擬似クラスの前にはクラス名をつける */
/* １番目ならnthよりfirstを使う */
/* 最後ならnthよりlastを使う */
  .box:first-child,
  .box:last-child,
  .box:nth-child(5) {
  background-color: #ff8c00;
}
/* 計算式が使える。3の倍数の時は 3n と書くと良い */
  .box:nth-child(3n) {
  margin-right: 0;
}
  /*  計算式が使える。
      3の倍数の時は 3n と書くと良い
      擬似クラスは複数を同時に使える
      nth last を組み合わせることで「最後から数える（降順）」指定ができる
      -n+3 〜３番目まで */
  .box:nth-last-child(-n+3) {
  margin-bottom: 0;
}